.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  padding-bottom: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 100vh;
}

.head {
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  width: 98%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  padding-top: 30px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  z-index: 99;
}

.head p {
  font-family: "Cookie-Regular";
  font-size: 24px;
}

.head .links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.head .links a {
  margin: 0 15px 0 15px;
  transition: all 0.1s;
}

.head .links a:hover {
  margin: -5px 15px 0 15px;
}

.head .contact {
  font-weight: 700;
}

.head .nav {
  font-size: 30px;
  color: gray;
  display: none;
}

.center {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  padding: 3% 2%;
}

.center::before {
  background-color: rgba(38, 26, 14, 0.4);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background-color: rgba(14, 14, 38, 0.4);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(80px);
  transform: translateZ(0);
  z-index: -1;
}

.center .text {
  width: 50%;
}

.center .text .MyName {
  font-family: "Cookie-Regular";
  font-size: 90px;
}

.center .text .description {
  color: gray;
  font-weight: 200;
}

.center .text .SocialMediaLinks {
  width: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.center .text .SocialMediaLinks a {
  font-size: 24px;
  color: gray;
  transition: all 0.1s;
}

.center .text .SocialMediaLinks a:hover {
  color: rgb(255, 255, 255);
}

.HomeImage {
  position: relative;
  border-radius: 300px;
  border-top-left-radius: 0;
}

.SocialMedia {
  width: 80%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.SocialMedia .box {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 20px;
  width: 250px;
  height: 200px;
  padding: 20px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.SocialMedia .box i {
  font-size: 40px;
}

.SocialMedia .box span {
  font-size: 38px;
  font-weight: 800;
}

.about {
  width: 80%;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.about::before {
  background-color: rgba(38, 26, 14, 0.4);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.about::after {
  background-color: rgba(14, 14, 38, 0.4);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.about::before,
.about::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(80px);
  transform: translateZ(0);
  z-index: -1;
}

.about .text {
  width: 60%;
}

.about p {
  width: 100%;
  color: gray;
  font-weight: 200;
}

.about .text h1 {
  color: white;
  font-weight: 200;
}

.about .AboutImage {
  border-radius: 300px;
  border-top-right-radius: 0;
}

.skills {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.skills::before {
  background-color: rgba(38, 26, 14, 0.4);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.skills::after {
  background-color: rgba(14, 14, 38, 0.4);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.skills::before,
.skills::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(80px);
  transform: translateZ(0);
  z-index: -1;
}

.skills h1 {
  font-weight: 400;
}

.skills .boxTop, .skills .boxBottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.skills .boxTop .box, .skills .boxBottom .box {
  background: rgba(var(--card-rgb), 0.1);
  border: 1px solid rgba(var(--card-border-rgb), 0.15);
  border-radius: 20px;
  width: 400px;
  padding: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.skills .boxTop .box p, .skills .boxBottom .box p {
  width: 85%;
  color: gray;
  font-weight: 200;
}

.skills .boxTop .box h2, .skills .boxBottom .box h2 {
  margin: 5px;
  font-weight: 200;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.services h1 {
  font-weight: 400;
}

.services::before {
  background-color: rgba(38, 26, 14, 0.4);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.services::after {
  background-color: rgba(14, 14, 38, 0.4);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.services::before,
.services::after {
  content: '';
  left: 50%;
  position: absolute;
  filter: blur(80px);
  transform: translateZ(0);
  z-index: -1;
}

.services .boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 30px;
}

.services .boxServices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin: 0 10px 0 10px;
  height: 330px;
}

.services .boxServices .BoxImg {
  border-radius: 20px;
}

.services .boxServices .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.services .boxServices .info .title {
  width: 75%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 2em;
}

.footer .links {
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.footer .links a {
  margin: 0 10px 0 10px;
  transition: all 0.1s;
}

.footer .links a:hover {
  margin: -5px 10px 0 10px;
}

.footer .SocialMediaLinks {
  width: 200px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}

.footer .SocialMediaLinks a {
  font-size: 24px;
  color: gray;
  transition: all 0.1s;
}

.footer .SocialMediaLinks a:hover {
  color: rgb(255, 255, 255);
}

.footer hr {
  width: 80%;
  margin-bottom: 20px;
  border: 0;
  height: 1px;
  background: rgb(48, 48, 48);
}

.footer .copyright {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer .copyright p {
  color: gray;
  font-size: 15px;
  font-weight: 200;
}

.footer .copyright p a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 0.5rem;
  }

  .head .links {
    background: rgba(0, 0, 0, 0.76);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
    backdrop-filter: blur(9px);
    position: absolute;
    top: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 20px;
    width: 80%;
    height: 70vh;
    border-radius: 20px;
    transform: translateX(750px);
    transition: all 0.7s;
  }

  .head .links a {
    margin-top: 40px;
  }

  .head .links a:hover {
    margin-top: 40px;
  }

  .head .nav {
    display: block;
  }

  .center {
    margin-top: 100px;
  }

  .center .text {
    width: 90%;
  }

  .center .HomeImage {
    margin-top: 30px;
  }

  .footer .links {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footer .links a {
    margin: 5px 0px 5px 0px;
    transition: all 0.1s;
  }

  .footer .copyright {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer .copyright p {
    margin: 10px;
  }

  .services .boxServices  {
    width: 95%;
    height: auto;
    margin: 20px;
    font-size: 80%;
    overflow: auto;
  }

  .services .boxServices .info {
    margin-top: 5px;
  }

  .services .boxServices .BoxImg {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 1130px) {
  .about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about .AboutImage {
    margin: 30px;
  }
}

@media (max-width: 1295px) {
  .skills .boxTop, .skills .boxBottom {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}