

.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-bottom: 0;
    position: relative;
    min-height: 100vh;
    width: 100%;
    scroll-behavior: smooth;
    overflow: hidden;
}

.head {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    width: 98%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    position: fixed;
    top: 0;
    z-index: 99;
}

.head p {
    font-family: "Cookie-Regular";
    font-size: 24px;
}

.head .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.head .links a {
    margin: 0 15px 0 15px;
    transition: all 0.1s;
}

.head .links a:hover {
    margin: -5px 15px 0 15px;
}

.head .contact {
    font-weight: 700;
}

.head .nav {
    font-size: 30px;
    color: gray;
    display: none;
}

.content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.content h1 {
    width: 60%;
    text-align: center;
    margin: 40px;
}

.content h2 {
    width: 100%;
    text-align: left;
    margin: 20px;
}

.content p {
    text-align: left;
    font-weight: 200;
    margin: 10px;
    color: gray;
}

.content .TextImage {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.content .TextImage p {
    width: 55%;
}

.content .TextImage .ArticleImage {
    border-radius: 20px;
}

.content::before {
    background-color: rgba(38, 26, 14, 0.4);
    border-radius: 50%;
    width: 480px;
    height: 360px;
    margin-left: -400px;
}

.content::after {
    background-color: rgba(14, 14, 38, 0.4);
    width: 240px;
    height: 180px;
    z-index: -1;
}

.content::before,
.content::after {
    content: '';
    left: 50%;
    position: absolute;
    filter: blur(80px);
    transform: translateZ(0);
    z-index: -1;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2em;
}

.footer .links {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer .links a {
    margin: 0 10px 0 10px;
    transition: all 0.1s;
}

.footer .links a:hover {
    margin: -5px 10px 0 10px;
}

.footer .SocialMediaLinks {
    width: 200px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.footer .SocialMediaLinks a {
    font-size: 24px;
    color: gray;
    transition: all 0.1s;
}

.footer .SocialMediaLinks a:hover {
    color: rgb(255, 255, 255);
}

.footer hr {
    width: 80%;
    margin-bottom: 20px;
    border: 0;
    height: 1px;
    background: rgb(48, 48, 48);
}

.footer .copyright {
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright p {
    color: gray;
    font-size: 15px;
    font-weight: 200;
}

.footer .copyright p a {
    color: white;
    font-size: 16px;
    font-weight: 500;
    text-decoration: underline;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1234px) {
    .content .TextImage p {
        width: 100%;
    }

    .content .TextImage .ArticleImage {
        width: 80%;
        height: auto;
        margin: 10px;
    }
}

/* Mobile */
@media (max-width: 700px) {
    .main {
        padding: 0.5rem;
        max-width: 700px;
    }
    
    .head .links {
        background: rgba(0, 0, 0, 0.76);
        border: 1px solid rgba(var(--card-border-rgb), 0.15);
        backdrop-filter: blur(9px);
        position: absolute;
        top: 100%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 20px;
        width: 80%;
        height: 70vh;
        border-radius: 20px;
        transform: translateX(750px);
        transition: all 0.7s;
    }

    .head .links a {
        margin-top: 40px;
    }

    .head .links a:hover {
        margin-top: 40px;
    }

    .head .nav {
        display: block;
    }

    .center {
        margin-top: 100px;
    }

    .center .HomeImage {
        margin: 0;
        margin-top: 20px;
        width: 80%;
        height: auto;
    }

    .center .text {
        width: 90%;
    }

    .footer .links {
        margin: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    .footer .links a {
        margin: 5px 0px 5px 0px;
        transition: all 0.1s;
    }

    .footer .copyright {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .footer .copyright p {
        margin: 10px;
    }

    .content h1 {
        font-size: 20px;
        margin: 0;
        margin-top: 100px;
        width: 90%;
    }

    .content h2 {
        font-size: 19px;
        margin: 0;
        margin-top: 20px;
        width: 90%;
    }

    .content .TextImage p, .content p {
        width: 90%;
    }
}

